@import url("https://fonts.googleapis.com/css2?family=Bitter:wght@500&family=DM+Serif+Display&family=Itim&family=Libre+Baskerville:ital@1&family=PT+Serif:ital@1&family=Playfair+Display&display=swap");

:root{
    --font-1:"Bitter", serif;
    --font-2:'PT Serif', serif;
    --font-3:'DM Serif Display', serif;
    --font-4:'Itim', cursive;
    --font-5:'Libre Baskerville', serif;
    --font-6:'Playfair Display', serif;
    --color-1:#57DDF3;
    --color-2:#14C2DD;
    --color-3:#A1F7A1;
    --color-4:#3E7AB0;
    --white:#f2f7f6;
}
body{
    background-color: rgba(242, 245, 244);
}
.space{
    width: 100%;
    height: 2em;
}
.abt-container{
    width: 100%;
    background-color: var(--white);
    height: auto;
}
.logo img{
    width: 50px;
   height: 50px;
   border-radius: 50%;
   margin: 0.5em 0em 0em 0.5em;
}
.N-p{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.cart a{
     text-decoration: none;
     font-family: var(--font-5);
}
.menu{
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0.6em 0px 0.5em 0px ;
    border-top-right-radius: 1em;
    border-bottom-left-radius: 1em;
}
.menu a{
    text-decoration: none;
    color: var(--color-4);
    font-family: var(--font-4);
    font-size: larger;
    padding: 3px;
    border-radius: 1em;
}
.menu a:hover{
    text-decoration: underline;
    transition: ease-in-out;
}
.bg-p{
    width: 100%;
    background-image: url("./assets/price-discrimination.webp");
    height: 60vh;
    background-size: cover;
    background-position: center;
    padding: 1em 0em 0em 1em;
    border-radius: 1em;
}
.bg {
    padding: 0.4em;
    justify-content: center;
    width: 50%;
    height: 60%;
    display: flex;
    flex-direction: column;
    background-color: var(--color-4);
    opacity: 0.6;
    border-radius: 2em;
}
.bg p{
    color: var(--white);
    font-family: var(--font-1);
}
.bg h3{
    font-family: var(--font-3);
    text-align: center;
}
.about{
    width: 100%;
    display: flex;
    flex-direction: row;
    height: auto;
}
.abt-mes{
    max-width: 50%;
    max-height: 60%;
}
.abt-pic img{
    max-width: 100%;
    /* margin: 1px auto; */
    border-radius: 1em;
    box-shadow: -4px 8px 29px 11px rgba(192,198,198,0.75);
    -webkit-box-shadow: -4px 8px 29px 11px rgba(192,198,198,0.75);
    -moz-box-shadow: -4px 8px 29px 11px rgba(192,198,198,0.75);
}

.abt-pic{
    display: flex;
    justify-content: center;
    width: 50%;
}
.abt-footer {
    /* background-color: ; */
    display: flex;
    flex-direction: row;
    justify-content: space-around ;
}
.abt-footer span{
font-family: var(--font-5);
color: var(--color-4);
}



/* contact_us css */
h3{
    font-family: var(--font-5);
}
.c-first{
    width: 100%;
    height: 400px;
    background-image: url("./assets/pexels-craig-adderley-1727684.jpg");
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    border-bottom-left-radius: 2em;
    display: flex;
    flex-direction: column;
}
.con-cent{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 300px;
}
.wel{
    color: rgb(0, 0, 255);
    background-color: rgba(242, 245, 244, 0.5);
    border: 0px solid;
    padding: 1em;
    font-weight: 600;
    height: fit-content;
    animation: roll 1.5s infinite forwards;
}
@keyframes roll {
    0%{
        transform: rotate(0);
    }100%{
        transform: rotate(360deg);

    }
}
.con-top{
    width: 100%;
    display: flex;
    justify-content: space-between;
    background: rgba(242, 245, 244);
    align-items: center;
    padding: 2px 0px 10px 0px;
}
.con-top a{
    text-decoration: none;
    font-family: var(--font-1); 
}
.c-logo img{
    width: 40px;
    height: 40px;
    border-radius: 50px;
    margin: 5px 0px 5px 5px;
}
.c-menu{
    display: flex;
    width: 20%;
    justify-content: space-around;
}
.c-cart{
    margin: 5px 5px 0px 0px;
}
.c-sec{
    display: flex;
    flex-direction: row;
}
.c-form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
 
}
.c-form input, .c-form textarea{
    outline: none;
    resize: none;
}
.c-form a{
    text-decoration: none;
    border-radius: 0.3em;
    padding: 0px 6px 0px 6px;
    align-self: center;
    color: #f6f2f1;
    background-color: #ca1f1f;
}
::placeholder{
    color: #b11212;
    font-family: var(--font-3);
}
.c-mess{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.c-handles{
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
}
.c-h-con{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.c-h-con a{
 text-decoration: none;
 font-family: var(--font-3);
}
.c-h-con a:hover{
    transform: scale(1.2);
    color: #b11212;
}
.c-footer{
    width: 100%;
    display: flex;
   justify-content: center;
}
.c-mine{
    font-family: var(--font-5);
}