@import url("https://fonts.googleapis.com/css2?family=Bitter:wght@500&family=DM+Serif+Display&family=Itim&family=Libre+Baskerville:ital@1&family=PT+Serif:ital@1&family=Playfair+Display&display=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-1);
    scroll-behavior: smooth;
}
:root{
    --font-1:"Bitter", serif;
    --font-2:'PT Serif', serif;
    --font-3:'DM Serif Display', serif;
    --font-4:'Itim', cursive;
    --font-5:'Libre Baskerville', serif;
    --font-6:'Playfair Display', serif;
    --color-1:#57DDF3;
    --color-2:#14C2DD;
    --color-3:#A1F7A1;
    --color-4:#3E7AB0;
    --white:#f2f7f6;
}
body{
    background-color: #FAFAFA;
}

/* index page css */
::-webkit-scrollbar{
    display: none;
}
.landing-page{
    width: 100%;
    height: 100dvh;
    background-image: url("./assets/pexels-roberto-nickson-2885320.jpg");
    background-position: center;
    background-size:cover ;
}
.head{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    height: 10vh;
    background: transparent;
    z-index: 1005454;
}
.cover-up{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    height: 10vh;
    background-color: #0e0b0b;
    z-index: 1005454;
}
.cover-for-head{
    width: 100%;
    height: 10vh;
    background: transparent;
}
.main-logo span{
    color: gold;
    margin-left: 8px;
   font-size: 30px;
    border-radius: 50%;
    font-family: var(--font-6);
    cursor:default;
}
.nav-bar{
    width: 40%;
    display: flex;
    font-display: row;
    justify-content: space-around;
    align-items: center;
}

.nav-bar a{
    text-decoration: none;
    position: relative;
    color: #fff;
    font-family: var(--font-2);
    
}
.nav-bar a::after{
    content: "";
    position: absolute;
    top: -20px;
    left: 0;
    width: 100%;
    background-color: #fff;
    height: 2px;
    transition: all .5s ease;
    opacity: 0;
}
.nav-bar a::before{
    content: "";
    position: absolute;
    bottom: -20px;
    left: 0;
    width: 100%;
    background-color: #fff;
    height: 2px;
    transition: all .4s ease;
    opacity: 0;
}
@media (hover: hover){
    .nav-bar a:hover{
        color: gold;
    }
    .nav-bar a:hover:after{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        background-color: #ffffff;
        height: 2px;
        opacity: 1;
    
    }
    .nav-bar a:hover:before{
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: #fff;
        height: 2px;
        opacity: 1;
    
    }
}
.search-bar{
    width: max-content;
    color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: #fff;
    margin-right: 10px;
    box-shadow: rgba(0, 0, 0, 0.8);
    border-radius: 5px;
    padding: 5px;
}
.search-bar input{
    border: none;
    outline: none;
    height: 30px;
}
.search-in::placeholder{
    color: #153f15;
    font-family: var(--font-3);
    transform: translateX(50px)  translateY(-5px);
    font-size: 15px;
    transition: .5s ease;
}
.search-bar i{
    transform: translateX(-220px);
    color: #050505;
    height: 100%;
    transition: .5s ease;
}
.search-bar input:focus~.fa-magnifying-glass{
    transform: translateX(0px);
}
/* i will come to this later */
.search-bar input:focus~.search-in::placeholder{
    transform: translateX(0px)  translateY(-5px);
}
.main-container{
    position: relative;
    top: 0;
    width: 80%;
    height: 70vh;
    background-image: url("./assets/pexels-roberto-nickson-2885320.jpg");
    background-position: center;
    background-size:cover ;
    margin: 4% auto;
    display: flex;
    flex-direction: row;
    color: #fff;
    border-radius: 1em;
    font-size: 18px;
    overflow: hidden;
    filter: blur(15%);
}
.half-con{
    width: 56%;
    height: 100%;
    display: flex;
    flex-direction: column;
   gap: 1em;
    align-items: flex-start;
    margin-left: 100px;
}
.welc{
    display: flex;
    flex-direction: column;
    line-height: 1.5;
    height: 30%;
    justify-content: space-around;
    /* transform: translateX(-100px);  */
}
.welc b{
    font-size: larger;
    font-family: var(--font-4);
}
.dont{
    display: flex;
    flex-direction: column;
    letter-spacing: 1;
    line-height: 2.5;
}
.dont span:nth-child(1){
    font-size: 30px;
    transform: translate(20px, -10px);
    font-family: var(--font-4);
}
.half-con img{
    width: 30px;
    height: 30px;
}
.first-half{
display: flex;
align-items: flex-start;
}
.other-con{
    width: calc(100% - 56%);
    height: 100%;
    position: relative;
}
.another >span, .sign-up-form>span{
    font-size: x-large;
    font-family: var(--font-1);
}
.another{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2.5em;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all .5s ease;
}
.m-form{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2em;
    position: relative;
}
.sec{
    position: relative;
    top: 0;
}
.label{
    position: absolute;
    top:0px;
    left: 5px;
    color: rgb(9, 9, 239) ;
    transition: transform .5s ease;
}
.sec input{
    outline: none;
    border: none;
    height: 30px;
    padding-left:5px ;
}
.sec input:focus~.label,
.sec input:valid~.label{
    transform: translateY(-35px);
    color: white;
}
.form-btn>a:nth-child(1){
   color: #0d6b58;
   text-decoration: none;
   position: relative;
   top:-20px;
    border: none;
    width: fit-content;
    padding: 3px 6px;
    background-color: #fff;
    border-radius: 5px;
}
.sign{
    text-decoration: none;
    font-size: 20px;
    color: rgb(241, 210, 8);
    font-weight: 900;
}
.sign-up,.sign-in{
    text-decoration: none;
    font-size: 20px;
    color: rgb(241, 210, 8);
    font-weight: 900;
}
.other-con .sign-up-form{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2em;
    height: 100%;
    position: absolute;
    top: 0;
    left: 434px;
    transition: all .5s ease;
}
.swap .sign-up-form{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2em;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.swap .another{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2.5em;
    height: 100%;
    position: absolute;
    top: 0;
    left: 434px;
}
.layout{
    background-color: var(--white);
    width: 100%;
    height: auto;
}
.lay-head{
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    text-align: center;
    height: 2em;
    background-color: #2a3d52;
}
.lay-head span{
    font-family: var(--font-6);
    font-weight: bold;
    font-size: x-large;
    letter-spacing: 2px;
    color: #d8d6c5;
}
.act-lay{
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-around;
    padding-top: 1em;
}
.product{
    width: calc(33.33% - 10px);
    height: 250px;
    margin-bottom: 20px;
    background-color: transparent;
    position: relative;
    padding: 2px;
    display: flex;
    justify-content: center;
}
.content{
    width: 80%;
}
.image .contain{
    position: relative;
    z-index: 4645;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    transition: all .5s ease;
}
.shift .contain{
    position: relative;
    z-index: 4645;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    transform: translateX(-45px);
}
.content img{
    width: 100%;
    height: 100%;
    border-radius: 3px;
    border-right: 3px solid black;
    border-right-style: groove;
    z-index: 4645;
    object-fit: cover;
    object-position: center;
    box-shadow: -3px 1px 22px -4px rgba(91,89,89,0.88);
    -webkit-box-shadow: -3px 1px 22px -4px rgba(91,89,89,0.88);
    -moz-box-shadow: -3px 1px 22px -4px rgba(91,89,89,0.88);
}
.contain button{
    position: absolute;
    z-index: 6554;
    background-color: rgb(255, 215, 0, 0.5);
    color: rgb(8, 8, 7);
    font-weight: 800;
    left: 0px;
    bottom: 0;
    padding: 0px 3px;
    border-radius: 3px;
    border: none;
    outline: none;
    transition: all .5s ease;
}
.act-lay .price-tag{
    width: fit-content;
    height: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    background-color: rgba(159, 111, 7, 0.903);
    top: 6px;
     justify-content: space-around;
    padding: 0px 5px;
    font-size: 16px;
     z-index: 465;
    transition: all 1s ease;
}
.price-tag button{
    border: none;
    outline: none;
}
.act-lay .o-price{
    width: fit-content;
    height: 95%;
    margin: 0px 0px 0px 0px;
    padding: 0px 5px;
    background-image: url("./assets/background/background4.jpg");
    filter: blur(10%);
    color: gold;
    border-top-right-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    top: 6px;
    transform: translateX(163.5px);
    font-size: 16px; 
}
.price-con a{
    text-decoration: none;
    font-family: var(--font-4);
    color: rgba(3, 61, 253, 0.985);
    font-style:italic;
    font-size: 16px;
    transition: all .5s ease;
}
.price-con span{
    font-family: var(--font-2);
    font-size: 18px;
}
.price-con button{
    border: none;
    outline: none;
    padding: 0px 3px;
    border-radius: 4px;
    background-color: gold;
    font-family: var(--font-6);
    font-weight: bold;
    font-size: 16px;
    transition: all .5s ease;
}
@media (hover: hover) {
.price-con button:hover{
    background-color: black;
    color: gold;
}
.price-con a:hover{
    text-decoration: line-through;  
    color: goldenrod;
}
.contain button:hover{
    background-color: gold;
}
}
.m-footer{
    background-color: #2a3d52;
}
.main-footer{
    width: 100%;
    height: auto;
    color: #d8d6c5;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
}
.main-footer > div{
    width: 33%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 14px;
    padding: 10px;
   
}
.main-footer .about-m{
    flex-direction: column;
    gap: 10px;
}
.about-m>div{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 1em;
    padding-top: 1em;
}
.about-m a{
text-decoration: none;
color: rgb(208, 180, 22);
width: fit-content;
transition: all 1s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    -webkit-transition: all .5s ease;
}
@media(hover: hover){
    .about-m a:hover{
        color: #d8d6c5;
        }
}
.about-m span{
    font-size: 20px;
}
.main-footer .sendMessage{
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.feed-btn{
    text-decoration: none;
    font-weight: 500;
    font-size: 15px;
    font-family: var(--font-5);
    background-color: gold;
    color: black;
    border-radius: 5px;
    padding: 3px 4px ;
    transition: all 1s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    -webkit-transition: all .5s ease;
    opacity: 0;
}
@media(hover: hover){
    .feed-btn:hover{
        background-color: black;
        color: gold;
    }
}
.sendMessage .first-m{
    display: flex;
    flex-direction: column;
    width: 85%;
    height: 100%;
    gap: 8px;
    justify-content: center;
    margin: 1px auto;
}
.first-m textarea{
  border-radius: 2px;
    outline: none;
    border: none;
    padding: 3px 5px;
    resize: none;
    transition: all .5s ease;
    background-color: #d8d6c5;
}
.first-m textarea::placeholder{
    color: black;
}
.first-m textarea:focus~ .feed .feed-btn{
        width: fit-content;
        opacity: 1;
}

.main-footer .payment-ops{
    flex-direction: column;
    align-items: center;
}
.payment-ops h3{
    font-size: 20px;
    font-weight: 100;
}
.payment-ops img{
    width: 40px;
    height: 40px;
    border-radius: 3px;
}
.payment-ops i{
  color: #d8d6c5;
}
.payment-ops>div{
    display: flex;
    flex-wrap: wrap;
    gap: 1.8em;
    padding-top: 1em;
}
.copyright{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #93a2b1;
}
.copyright span:nth-child(1){
    color: #d8d6c5;
    font-size: x-large;
    font-family: var(--font-3);
}












/* about page css  */
.space{
    width: 100%;
    height: 2em;
}
.abt-container{
    width: 100%;
    background-color: var(--white);
    height: auto;
}
.logo img{
    width: 50px;
   height: 50px;
   border-radius: 50%;
   margin: 0.5em 0em 0em 0.5em;
}
.N-p{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.cart a{
     text-decoration: none;
     font-family: var(--font-5);
}
.menu{
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0.6em 0px 0.5em 0px ;
    border-top-right-radius: 1em;
    border-bottom-left-radius: 1em;
}
.menu a{
    text-decoration: none;
    color: var(--color-4);
    font-family: var(--font-4);
    font-size: larger;
    padding: 3px;
    border-radius: 1em;
}
.menu a:hover{
    text-decoration: underline;
    transition: ease-in-out;
}
.bg-p{
    width: 100%;
    background-image: url("./assets/price-discrimination.webp");
    height: 60vh;
    background-size: cover;
    background-position: center;
    padding: 1em 0em 0em 1em;
    border-radius: 1em;
}
.bg {
    padding: 0.4em;
    justify-content: center;
    width: 50%;
    height: 60%;
    display: flex;
    flex-direction: column;
    background-color: var(--color-4);
    opacity: 0.6;
    border-radius: 2em;
}
.bg p{
    color: var(--white);
    font-family: var(--font-1);
}
.bg h3{
    font-family: var(--font-3);
    text-align: center;
}
.about{
    width: 100%;
    display: flex;
    flex-direction: row;
    height: auto;
}
.abt-mes{
    max-width: 50%;
    max-height: 60%;
}
.abt-pic img{
    max-width: 100%;
    /* margin: 1px auto; */
    border-radius: 1em;
    box-shadow: -4px 8px 29px 11px rgba(192,198,198,0.75);
    -webkit-box-shadow: -4px 8px 29px 11px rgba(192,198,198,0.75);
    -moz-box-shadow: -4px 8px 29px 11px rgba(192,198,198,0.75);
}

.abt-pic{
    display: flex;
    justify-content: center;
    width: 50%;
}
.abt-footer {
    /* background-color: ; */
    display: flex;
    flex-direction: row;
    justify-content: space-around ;
}
.abt-footer span{
font-family: var(--font-5);
color: var(--color-4);
}







/* contact_us css  page design*/
.c-sec h3{
    font-family: var(--font-5);
}
.c-first{
    width: 100%;
    height: 400px;
    background-image: url("./assets/pexels-craig-adderley-1727684.jpg");
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    border-bottom-left-radius: 2em;
    display: flex;
    flex-direction: column;
}
.con-cent{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 300px;
}
.wel{
    color: rgb(0, 0, 255);
    background-color: rgba(242, 245, 244, 0.5);
    border: 0px solid;
    padding: 1em;
    font-weight: 600;
    height: fit-content;
    animation: roll 1.5s infinite forwards;
}
@keyframes roll {
    0%{
        transform: rotate(0);
    }100%{
        transform: rotate(360deg);

    }
}
.con-top{
    width: 100%;
    display: flex;
    justify-content: space-between;
    background: rgba(242, 245, 244);
    align-items: center;
    padding: 2px 0px 10px 0px;
}
.con-top a{
    text-decoration: none;
    font-family: var(--font-1); 
}
.c-logo img{
    width: 40px;
    height: 40px;
    border-radius: 50px;
    margin: 5px 0px 5px 5px;
}
.c-menu{
    display: flex;
    width: 20%;
    justify-content: space-around;
}
.c-cart{
    margin: 5px 5px 0px 0px;
}
.c-sec{
    display: flex;
    flex-direction: row;
}
.c-form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
 
}
.c-form input, .c-form textarea{
    outline: none;
    resize: none;
}
.c-form a{
    text-decoration: none;
    border-radius: 0.3em;
    padding: 0px 6px 0px 6px;
    align-self: center;
    color: #f6f2f1;
    background-color: #ca1f1f;
}
::placeholder{
    color: #b11212;
    font-family: var(--font-3);
}
.c-mess{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.c-handles{
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
}
.c-h-con{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.c-h-con a{
 text-decoration: none;
 font-family: var(--font-3);
}
.c-h-con a:hover{
    transform: scale(1.2);
    color: #b11212;
}
.c-footer{
    width: 100%;
    display: flex;
   justify-content: center;
}
.c-mine{
    font-family: var(--font-5);
}