@import url("https://fonts.googleapis.com/css2?family=Bitter:wght@500&family=DM+Serif+Display&family=Itim&family=Libre+Baskerville:ital@1&family=PT+Serif:ital@1&family=Playfair+Display&display=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
:root{
    --bitter:"Bitter", serif;
    --ptFerif:'PT Serif', serif;
    --dmSerif:'DM Serif Display', serif;
    --itim:'Itim', cursive;
    --libre:'Libre Baskerville', serif;
    --playfair:'Playfair Display', serif;
    --bg:  #eaeaea;
    --color: gold;
    --color-1:#ff6700;
    --white: #ebebeb;
    --color-3: #c1c3c6;
    --lightBlue:#3a6ea5;
    --blue:#004e98;
}
body{
    position: relative;
    width: 100dvw;
    height: 100dvh;
    overflow: scroll;
    background: var(--bg);
    font-family: var(--playfair);
}

/* ======all header design===== */

.head{
    position: fixed;
    top: 0;
    width: 100%;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--bg);
    z-index: 45454;
}
.head .main-logo span{
    color: #494747;
    font-weight: bolder;
    font-size: 25px;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
}
.nav{
    width: 50%;
    display: flex;
    justify-content: space-around;
}
.nav-space{
    width: 100%;
    height: 2.5rem;
    background: transparent;
}
.nav a{
    position: relative;
    text-decoration: none;
    font-family: var(--bitter);
    font-weight: 900;
    color: #004e98;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
    transition: all .5s ease;
}
.nav a::after{
    content: "";
    border-radius: 1em;
    width: 60%;
    height: 1.2px;
    background-color: var(--lightBlue);
    position: absolute;
    top: 5px;
    left: -40px;
    opacity: 0;
    transition: opacity .4s ease-in;
    transition: transform .7s ease-in ;
}
.other-nav{
    display: flex;
    width: 6%;
    align-items: flex-start;
    justify-content: space-around;
}
.other-nav div{
    cursor: pointer;
}
.other-nav div:nth-child(2){
       border: 2px solid black; 
       border-radius: 50%;
       padding: 0px 5px;
       background-color: var(--color-3);
       transition: all .3s ease-in;
}
@media (hover: hover) {
    .other-nav div:nth-child(2):hover{
        background: transparent;
    }
    .nav a:hover{
        color: var(--color-1);
        transform: scale(1.1);
    }
    .nav a:hover:after{
        /* transform: translateX(80px);
        opacity: 1; */
        animation: move .7s ease-in-out  2  alternate;
    }
}
@keyframes move {
    5%{
        transform: translateX(0px);
        opacity: 0;
    }
    10%{
        opacity: 0;
    }
    100%{
        transform: translateX(90px);
        opacity: 1;
    }
}

::-webkit-scrollbar{
    display: none;
}
.layout{
    background-color: var(--color-3);
    width: 100dvw;
    height: auto;
}
.lay-head{
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    text-align: center;
    height: 2em;
    background-color: var(--blue);
}
.lay-head span{
    font-family: var(--itim);
    font-weight: bolder;
    font-size: x-large;
    letter-spacing: 2px;
    text-shadow: 2px 2px 2px rgba(8, 7, 7, 0.5);
    color: var(--bg);
}
.act-lay{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 1.5rem;
    position: relative;
}
.product{
    overflow-x: hidden;
    min-width: 300px;
    width: 400px;
    margin-bottom: 20px;
    position: relative;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 7px;
}
.price{
    position: absolute;
    padding: 0px 4px;
    top: 22px;
    left: 10px;
    color:white;
    background-color: var(--lightBlue);
    z-index: 554;
    transform: rotate(-53deg);
    outline: 4px dashed  var(--lightBlue);
    border: 3px dashed var(--lightBlue);
    font-family: var(--libre);
    font-style: italic;
    transition: all .4s ease;

}
.contain{
    width: 95%;
    display: flex;
    justify-content: center;
    cursor: pointer;
    transition: all .4s ease;
  
}
.contain img{
    width: 100%;
    height: 340px;
    border-radius: 5px;
    z-index: 445;
    object-fit: cover;
    object-position: center;
    box-shadow: -3px 1px 22px -4px rgba(91,89,89,0.88);
    -webkit-box-shadow: -3px 1px 22px -4px rgba(91,89,89,0.88);
    -moz-box-shadow: -3px 1px 22px -4px rgba(91,89,89,0.88);
}

.add-ons{
    width: 100%;
    border: none;
    outline: none;
    display: flex;
    justify-content: space-around;
}
.add-ons a{
    text-decoration: none;
    font-family: var(--playfair);
    color: var(--color);
    background-color: black;
    padding: 0px 5px ;
    font-style:italic;
    font-weight: 800;
    font-size: 16px;
    transition: all .5s ease;
    border-radius: 5px;
}
.reactions{
    align-self: center;
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 400;
}
.react{
    font-size: 19px;
    cursor: pointer;
    outline: none;
    border: none;
    background: transparent;
    transition: all .4s ease;
}
.count{
    font-style: italic;
    font-size: 15px;
    font-weight: bold;
}
@media (hover: hover) {
.add-ons a:hover{
    background-color: var(--blue);
    color: var(--white);
}
.react:hover{
    transform: scale(1.2);
}
.contain:hover{
       transform: scale(1.05);
}
.contain:hover ~ .price{
    transform: scale(1.1);
}
}

.m-footer{
    background-color: #2a3d52;
}
.main-footer{
    width: 100%;
    height: auto;
    color: #d8d6c5;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
}
.main-footer > div{
    width: 33%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 14px;
    padding: 10px;
    
}
.main-footer .about-m{
    flex-direction: column;
    gap: 10px;
}
.about-m>div{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 1em;
    padding-top: 1em;
}
.about-m a{
    text-decoration: none;
color: rgb(208, 180, 22);
width: fit-content;
transition: all 1s ease;
-moz-transition: all .5s ease;
-o-transition: all .5s ease;
    -webkit-transition: all .5s ease;
}
@media(hover: hover){
    .about-m a:hover{
        color: #d8d6c5;
        }
}
.about-m span{
    font-size: 20px;
    text-align: center;
}
.main-footer .sendMessage{
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.feed-btn{
    text-decoration: none;
    font-weight: 500;
    font-size: 15px;
    font-family: var(--font-5);
    background-color: gold;
    color: black;
    border-radius: 5px;
    padding: 3px 4px ;
    transition: all 1s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    -webkit-transition: all .5s ease;
    opacity: 0;
}
@media(hover: hover){
    .feed-btn:hover{
        background-color: black;
        color: gold;
    }
}
.sendMessage .first-m{
    display: flex;
    flex-direction: column;
    width: 85%;
    height: 100%;
    gap: 8px;
    justify-content: center;
    margin: 1px auto;
}
.first-m textarea{
  border-radius: 2px;
    outline: none;
    border: none;
    padding: 3px 5px;
    resize: none;
    transition: all .5s ease;
    background-color: #d8d6c5;
}
.first-m textarea::placeholder{
    color: black;
}
.first-m textarea:focus~ .feed .feed-btn{
    width: fit-content;
        opacity: 1;
    }
    
.main-footer .payment-ops{
    flex-direction: column;
    align-items: center;
}
.payment-ops h3{
    font-size: 20px;
    font-weight: 100;
}
.payment-ops img{
    width: 40px;
    height: 40px;
    border-radius: 3px;
}
.payment-ops i{
  color: #d8d6c5;
}
.payment-ops>div{
    display: flex;
    flex-wrap: wrap;
    gap: 1.8em;
    padding-top: 1em;
}
.copyright{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #93a2b1;
}
.copyright span:nth-child(1){
    color: #d8d6c5;
    font-size: x-large;
    font-family: var(--font-3);
}

@media screen and (max-width: 376px){
    .main-footer{
        flex-direction: column;
        justify-content: space-around;
        align-items: stretch;
    }
    .main-footer > div{
        width: 100%;
        font-size: 10px;
        padding: 5px;
    }
    .payment-ops h3{
        font-size: 15px;
        font-weight: 100;
    }
    .copyright{
        width: 100%;
        font-size: 13px;
        color: #93a2b1;
    }
    .main-footer .about-m{
        flex-direction: column;
        gap: 0px;
    }
    .payment-ops>div{
        display: flex;
        flex-wrap: wrap;
        gap: 1em;
        padding-top: 0.5em;
    }
}

